<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	autoReload="true"
	throwExceptions="false"
	internalLogLevel="Off"
	internalLogFile="nlog-internal.log" >

	<!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->

	<time xsi:type="FastUTC" />

	<variable name="Scope" value ="${when:when=length('${ndc}')>0:inner=${ndc}:else=${ndlc}}" />

	<targets>
		<default-wrapper xsi:type="asyncwrapper" timetosleepbetweenbatches="0" overflowaction="discard" batchsize="1000" />

		<target name="Logfile"
			xsi:type="File"
			fileName="${basedir}/logs/aberrantsmpp.testclient.log"
			archiveFileName="${basedir}/logs/aberrantsmpp.testclient.{#####}.log"
			archiveAboveSize="1048576"
			maxArchiveFiles="5"
			archiveNumbering="Sequence"
			layout="${longdate} ${uppercase:${level}} [${threadid}] ${logger}: ${message}${onexception:${newline}${exception:format=tostring}}" />

		<target name="Console"
			xsi:type="Console"
			error="true"
			layout="${longdate} ${uppercase:${level}} [${threadid}] ${logger}: ${message}${onexception:${newline}${exception:format=tostring}}" />

		<target name="chainsaw"
			xsi:type="Chainsaw"
			address="udp://localhost:7071" />

		<target name="Log2Console"
			xsi:type="Chainsaw"
			address="udp4://127.0.0.1:31338" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="Logfile" />
		<logger name="*" minlevel="Trace" writeTo="Console" />
		<logger name="*" minlevel="Trace" writeTo="chainsaw" />
		<logger name="*" minlevel="Trace" writeTo="Log2Console" />
	</rules>
</nlog>
